*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #aaa;
  line-height: 1.6; }

p {
  margin: 0;
  padding: 0; }

.f-container {
  display: grid;
  grid-template-rows: 6rem;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end]; }

.header {
  grid-column: full-start / full-end;
  display: flex; }

.friends {
  grid-column: center-start / center-end;
  padding: 4.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 2.5rem;
  justify-items: center; }

.page-nav {
  grid-column: center-start / center-end; }
