*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  font-size: 62.5%; }

body {
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #aaa;
  line-height: 1.6; }

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0; }

.logo-text {
  color: #db8e71;
  font-family: "Uchen", sans-serif;
  font-size: 4rem; }

.user-nav {
  font-family: "Uchen", sans-serif; }
  .user-nav__list {
    list-style: none;
    display: flex;
    margin: 0; }
  .user-nav__item {
    position: relative; }
  .user-nav__link {
    outline: none;
    color: #3c3c3c;
    font-size: 1.7rem;
    padding: 1.5rem 2rem;
    transition: all 0.2s; }
    .user-nav__link:hover {
      color: #db8e71; }
  .user-nav__count {
    position: absolute;
    top: -0.8rem;
    right: 0.5rem;
    display: block;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: #db8e71;
    border-radius: 50%;
    text-align: center; }

.friend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-row-gap: 1.5rem;
  padding: 2.5rem;
  transition: all 0.4s; }
  .friend:hover {
    box-shadow: 0 1rem 5rem rgba(201, 206, 153, 0.2);
    transform: translateY(-5px); }
  .friend:hover .friend__img {
    transform: scale(1.05) translateY(-5px); }
  .friend:hover .friend__seemore {
    animation: pulsate 1s infinite; }
  .friend__img {
    grid-column: 1/-1;
    display: block;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    transition: all 0.5s; }
  .friend__name {
    grid-column: 1/-1;
    color: #3c3c3c;
    font-family: "Uchen", sans-serif;
    font-size: 2rem; }
  .friend__seemore {
    grid-column: 1 / span 1; }
  .friend__add {
    grid-column: 2 / span 1;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem; }

.f-btn {
  display: block;
  border: none;
  text-transform: uppercase; }
  .f-btn:visited, .f-btn:link {
    text-decoration: none;
    outline: none; }
  .f-btn:hover, .f-btn:focus {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.3rem);
    outline: none; }
  .f-btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.1rem); }
  .f-btn--orange {
    padding: 1rem 2rem;
    background-color: #ed784a;
    color: #f9f7f6; }
  .f-btn--grey {
    color: #db8e71;
    background-color: #f9f7f6; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05);
    box-shadow: 0 5px 3rem rgba(0, 0, 0, 0.1); }
  100% {
    transform: scale(1); } }

.search {
  font-size: 1.7rem; }
  .search__input {
    display: inline-block;
    width: 30rem;
    padding: 0.9rem 2.5rem;
    margin-right: -5rem;
    border: none;
    border-radius: 100px;
    background-color: #f9f7f6;
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    transition: all 0.2s; }
  .search__btn {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #ed784a; }

.f-container {
  display: grid;
  grid-template-columns: [full-start] 1fr [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] 1fr [full-end]; }

.header {
  grid-column: full-start / full-end;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-column-gap: 2rem;
  padding: 1.5rem 3rem; }

.friends {
  grid-column: center-start / center-end;
  padding: 4.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 2.5rem;
  grid-column-gap: 1.5rem; }

.page-nav {
  grid-column: center-start / center-end; }
