*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  text-decoration: none; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 31.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  color: #aaa;
  line-height: 1.6; }

p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
li {
  margin: 0;
  padding: 0; }

.logo-text {
  color: #db8e71;
  font-family: "Uchen", sans-serif;
  font-size: 4rem; }
  @media only screen and (max-width: 31.25em) {
    .logo-text {
      font-size: 3rem; } }

.user-nav {
  font-family: "Uchen", sans-serif; }
  .user-nav__list {
    list-style: none;
    display: flex;
    margin: 0; }
    @media only screen and (max-width: 50em) {
      .user-nav__list {
        justify-content: flex-end; } }
    @media only screen and (max-width: 31.25em) {
      .user-nav__list {
        justify-content: center; } }
  .user-nav__item {
    position: relative; }
  .user-nav__link {
    display: inline-block;
    padding: 1.5rem 3rem;
    outline: none;
    color: #3c3c3c;
    font-size: 1.7rem;
    transition: all 0.2s; }
    .user-nav__link:hover {
      color: #db8e71; }
  .user-nav__count {
    position: absolute;
    top: 0;
    right: 1.5rem;
    display: block;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: #ed784a;
    border-radius: 50%;
    text-align: center; }

.friend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-row-gap: 1.5rem;
  padding: 2.5rem;
  transition: all 0.4s; }
  .friend:hover {
    box-shadow: 0 1rem 5rem rgba(170, 170, 170, 0.2);
    transform: translateY(-5px); }
  .friend:hover .friend__img {
    transform: scale(1.05) translateY(-5px); }
  .friend:hover .friend__seemore {
    animation: pulsate 1s infinite; }
  .friend__img {
    grid-column: 1/-1;
    display: block;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    transition: all 0.5s; }
  .friend__name {
    grid-column: 1/-1;
    color: #3c3c3c;
    font-family: "Uchen", sans-serif;
    font-size: 2rem; }
  .friend__seemore {
    grid-column: 1 / span 1; }
    @media only screen and (max-width: 31.25em) {
      .friend__seemore {
        padding: 0.5rem 1rem; } }
  .friend__add {
    grid-column: 2 / span 1;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 1.9rem; }

.f-btn {
  display: block;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s; }
  .f-btn:visited, .f-btn:link {
    text-decoration: none;
    outline: none; }
  .f-btn:hover, .f-btn:focus {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.3rem);
    outline: none; }
  .f-btn:active {
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.2);
    transform: translateY(-0.1rem); }
  .f-btn--orange {
    padding: 1rem 2rem;
    background-color: #ed784a;
    color: #f9f7f6; }
  .f-btn--grey {
    color: #db8e71;
    background-color: #f9f7f6; }

@keyframes pulsate {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.05);
    box-shadow: 0 5px 3rem rgba(0, 0, 0, 0.1); }
  100% {
    transform: scale(1); } }

.search {
  transform: translateX(-0.5rem);
  text-align: center;
  font-size: 1.7rem; }
  @media only screen and (max-width: 50em) {
    .search {
      grid-column: 1 / span 2; } }
  .search__input {
    display: inline-block;
    width: 90%;
    padding: 0.9rem 2.5rem;
    margin-right: -5rem;
    border: none;
    border-radius: 100px;
    background-color: #f9f7f6;
    font-family: inherit;
    font-style: inherit;
    transition: all 0.2s; }
    .search__input:focus {
      width: 100%;
      outline: none;
      background-color: #db8e71;
      color: white; }
      @media only screen and (max-width: 31.25em) {
        .search__input:focus {
          width: 90%; } }
  .search__input:focus::placeholder {
    color: white; }
  .search__btn {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: #ed784a; }

.page-nav {
  padding: 0 0 5rem 0;
  color: #db8e71; }
  .page-nav__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center; }
  .page-nav__link {
    display: inline-block;
    padding: 1rem;
    color: inherit; }

.user-info {
  display: flex;
  color: #3c3c3c;
  font-size: 1.2rem; }
  .user-info__list {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column; }
  .user-info__item {
    padding: 1rem; }
  .user-info__photo {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto; }
  .user-info__img {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    border-radius: 3rem; }

.f-container {
  display: grid;
  grid-template-columns: [full-start] minmax(2rem, 1fr) [center-start] repeat(8, [col-start] minmax(min-content, 12rem) [col-end]) [center-end] minmax(2rem, 1fr) [full-end]; }

.header {
  grid-column: full-start / full-end;
  padding: 3.5rem 4rem;
  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-column-gap: 2rem; }
  @media only screen and (max-width: 50em) {
    .header {
      grid-template-columns: max-content 1fr;
      grid-row-gap: 2rem; } }
  @media only screen and (max-width: 31.25em) {
    .header {
      padding: 2rem; } }

.friends {
  grid-column: center-start / center-end;
  padding: 4.5rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 2.5rem;
  grid-column-gap: 1.5rem; }
  @media only screen and (max-width: 31.25em) {
    .friends {
      grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
      padding: 2rem 0; } }

.page-nav {
  grid-column: center-start / center-end; }
