////////////////////////
//LOGO
.logo-text {
  color: $color-primary;
  font-family: $font-display;
  font-size: 4rem;
}

////////////////////////
//USER NAVIGATION
.user-nav {
  font-family: $font-display;
  &__list {
    list-style: none;
    display: flex;
    margin: 0;
  }
  &__item {
    position: relative;
  }
  &__link {
    outline: none;
    color: $color-grey-dark-2;
    font-size: 1.7rem;
    padding: 1.5rem 2rem;
    transition: all 0.2s;

    &:hover {
      color: $color-primary;
    }
  }

  &__count {
    position: absolute;
    top: -0.8rem;
    right: 0.5rem;
    display: block;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: $color-primary;
    border-radius: 50%;
    text-align: center;
  }
}

////////////////////////
//FRIEND
.friend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-row-gap: 1.5rem;

  padding: 2.5rem;
  transition: all 0.4s;

  &:hover {
    box-shadow: 0 1rem 5rem rgba($color-secondary, 0.2);
    transform: translateY(-5px);
  }

  &:hover &__img {
    transform: scale(1.05) translateY(-5px);
  }

  &:hover &__seemore {
    animation: pulsate 1s infinite;
  }

  &__img {
    grid-column: 1/-1;
    display: block;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    transition: all 0.5s;
  }
  &__name {
    grid-column: 1/-1;
    color: $color-grey-dark-2;
    font-family: $font-display;
    font-size: 2rem;
  }
  &__seemore {
    grid-column: 1 / span 1;
  }
  &__add {
    grid-column: 2 / span 1;

    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    font-size: 1.5rem;
  }
}

////////////////////////
//BTN
.f-btn {
  display: block;
  border: none;
  text-transform: uppercase;

  &--orange {
    padding: 1rem 2rem;
    background-color: $color-primary-dark;
    color: $color-grey-light-1;
  }

  &--grey {
    color: $color-primary;
    background-color: $color-grey-light-1;
  }
}

@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 5px 3rem rgba(black, 0.1);
  }

  100% {
    transform: scale(1);
  }
}

////////////////////////
//SEARCH
.search {
  font-size: 1.7rem;
  &__input {
    display: inline-block;
    width: 30rem;
    padding: 0.9rem 2.5rem;
    margin-right: -5rem;
    border: none;
    border-radius: 100px;
    background-color: $color-grey-light-1;
    color: inherit;
    font-family: inherit;
    font-style: inherit;
    transition: all 0.2s;
  }

  &__btn {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: $color-primary-dark;
  }
}
