////////////////////////
//LOGO
.logo-text {
  color: $color-primary;
  font-family: $font-display;
  font-size: 4rem;

  @media only screen and(max-width:$bp-sm) {
    font-size: 3rem;
  }
}

////////////////////////
//USER NAVIGATION
.user-nav {
  font-family: $font-display;

  &__list {
    list-style: none;
    display: flex;
    margin: 0;

    @media only screen and (max-width: $bp-md) {
      justify-content: flex-end;
    }

    @media only screen and (max-width: $bp-sm) {
      justify-content: center;
    }
  }

  &__item {
    position: relative;
  }

  &__link {
    display: inline-block;
    padding: 1.5rem 3rem;
    outline: none;
    color: $color-grey-dark-2;
    font-size: 1.7rem;
    transition: all 0.2s;

    &:hover {
      color: $color-primary;
    }
  }

  &__count {
    position: absolute;
    top: 0;
    right: 1.5rem;
    display: block;
    width: 2rem;
    height: 2rem;
    color: white;
    background-color: $color-primary-dark;
    border-radius: 50%;
    text-align: center;
  }
}

////////////////////////
//FRIEND
.friend {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  align-items: center;
  grid-row-gap: 1.5rem;

  padding: 2.5rem;
  transition: all 0.4s;

  &:hover {
    box-shadow: 0 1rem 5rem rgba($color-grey-light-2, 0.2);
    transform: translateY(-5px);
  }

  &:hover &__img {
    transform: scale(1.05) translateY(-5px);
  }

  &:hover &__seemore {
    animation: pulsate 1s infinite;
  }

  &__img {
    grid-column: 1/-1;
    display: block;
    width: 15rem;
    height: 15rem;
    border-radius: 50%;
    transition: all 0.5s;
  }

  &__name {
    grid-column: 1/-1;
    color: $color-grey-dark-2;
    font-family: $font-display;
    font-size: 2rem;
  }

  &__seemore {
    grid-column: 1 / span 1;

    @media only screen and (max-width: $bp-sm) {
      padding: 0.5rem 1rem;
    }
  }

  &__add {
    grid-column: 2 / span 1;

    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
    font-size: 1.9rem;
  }
}

////////////////////////
//BTN
.f-btn {
  display: block;
  border: none;
  text-transform: uppercase;
  transition: all 0.3s;

  &:visited,
  &:link {
    text-decoration: none;
    outline: none;
  }

  &:hover,
  &:focus {
    box-shadow: 0 1rem 2rem rgba(black, 0.2);
    transform: translateY(-0.3rem);
    outline: none;
  }

  &:active {
    box-shadow: 0 0.5rem 1rem rgba(black, 0.2);
    transform: translateY(-0.1rem);
  }

  &--orange {
    padding: 1rem 2rem;
    background-color: $color-primary-dark;
    color: $color-grey-light-1;
  }

  &--grey {
    color: $color-primary;
    background-color: $color-grey-light-1;
  }
}

//animation
@keyframes pulsate {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.05);
    box-shadow: 0 5px 3rem rgba(black, 0.1);
  }

  100% {
    transform: scale(1);
  }
}

////////////////////////
//SEARCH
.search {
  transform: translateX(-0.5rem);
  text-align: center;
  font-size: 1.7rem;

  @media only screen and (max-width: $bp-md) {
    grid-column: 1 / span 2;
  }

  &__input {
    display: inline-block;
    width: 90%;
    padding: 0.9rem 2.5rem;
    margin-right: -5rem;
    border: none;
    border-radius: 100px;
    background-color: $color-grey-light-1;
    font-family: inherit;
    font-style: inherit;
    transition: all 0.2s;

    &:focus {
      width: 100%;
      outline: none;
      background-color: $color-primary;
      color: white;
      @media only screen and (max-width: $bp-sm) {
        width: 90%;
      }
    }
  }

  &__input:focus::placeholder {
    color: white;
  }

  &__btn {
    width: 3rem;
    height: 3rem;
    border: none;
    border-radius: 50%;
    color: white;
    background-color: $color-primary-dark;
  }
}

////////////////////////
//PAGE NAVIGATION

.page-nav {
  padding: 0 0 5rem 0;
  color: $color-primary;

  &__list {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  &__item {
  }
  &__link {
    display: inline-block;
    padding: 1rem;
    color: inherit;
  }
}

////////////////////////
//USER INFORMATION
.user-info {
  display: flex;
  color: $color-grey-dark-2;
  font-size: 1.2rem;

  &__list {
    flex: 1;
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  &__item {
    padding: 1rem;
  }
  &__photo {
    flex: 1;

    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  &__img {
    display: inline-block;
    width: 12rem;
    height: 12rem;
    border-radius: 3rem;
  }
}
