////////////////////////
//CONTAINER
.f-container {
  display: grid;
  // grid-template-rows: 6rem;
  grid-template-columns:
    [full-start] 1fr [center-start] repeat(
      8,
      [col-start] minmax(min-content, 12rem) [col-end]
    )
    [center-end] 1fr [full-end];
}


////////////////////////
//HEADER
.header {
  grid-column: full-start / full-end;

  display: grid;
  grid-template-columns: max-content 1fr max-content;
  align-items: center;
  grid-column-gap: 2rem;
  padding: 1.5rem 3rem;
}


////////////////////////
//FRIENDS
.friends {
  grid-column: center-start / center-end;
  padding: 4.5rem 0;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  grid-row-gap: 2.5rem;
  grid-column-gap: 1.5rem;
}


////////////////////////
//PAGE NAVIGATION
.page-nav {
  grid-column: center-start / center-end;
}
