html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

button:focus {
    outline: none;
}

a {
    display: block;
    text-decoration: none;
    outline: none;
    color: #555;
    text-align: center;
}

a:hover {
    text-decoration: none;
    outline: none;
    color: rgb(255, 255, 255);
}

a:focus {
    outline: none
}

li {
    width: 120px;
    height: 55px;
    box-sizing: border-box;
    list-style-type: none;
    display: block;
    line-height: 55px;
}

img {
    width: 100%;
}

.navBar {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: #9c9599
}

.navBar>li {
    font-size: 18px;
}

.topArea {
    display: flex;
    justify-content: space-between;
    padding: 20px 120px;
    height: 80px;
}

.viewChange {
    box-sizing: border-box;
    text-align: center;
}

.colorBrown {
    background-color: rgb(245, 241, 228);
}

.viewChange>span {
    width: 40px;
    height: 40px;
    display: inline-block;
    margin: 0px 10px;
    cursor: pointer;
    transition: 0.3s;
}

.viewChange>span:hover {
    background-color: rgb(245, 241, 228);
}

.searchBar {
    display: flex;
    justify-content: center;
}

.inputBox {
    background-color: #eee;
    border: none;
    border-radius: 3px;
    font-size: 18px;
    outline: none;
    box-sizing: border-box;
    letter-spacing: 1px;
    color: #555;
    width: 180px;
    height: 30px;
    padding: 0px 8px;
}

.inputBtn {
    width: 60px;
    height: 30px;
    margin-left: 20px;
    border: none;
    outline: none;
    background-color: #f5f1e4;
    color: rgb(32, 29, 29);
    letter-spacing: 0.5px;
    font-size: 8px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 3px;
}

.friendContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
}

.friendCard {
    width: 200px;
    height: 300 px;
    border: 1px rgb(175, 192, 115) solid;
    box-sizing: border-box;
    margin: 20px 40px;
    border-radius: 20px;
    overflow: hidden;
    text-align: center;
    transition: 0.2s;
}

.friendCard:hover {
    box-shadow: 0 0 10px #555;
}

.friendCard p {
    margin: 16px 0px;
}

.cardBtn {
    width: 120px;
    margin-bottom: 20px;
    border: none;
    padding: 10px;
    outline: none;
    background-color: #f5f1e4;
    color: rgb(32, 29, 29);
    letter-spacing: 0.5px;
    font-size: 8px;
    font-weight: bold;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    border-radius: 3px;
    transition: 0.3s;
}

.cardBtn:hover {
    background-color: #db865f;
    color: white;
    transform: translate(0, 2px);
    outline: none;
    cursor: pointer;
}

.modal-content {
    width: 600px
}

.modal-container {
    display: flex;
}

.modal-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    overflow: hidden;
    margin-left: 70px;
}

.show-modal-info {
    box-sizing: border-box;
    width: 250px;
    margin: 0;
    padding-left: 10px;
    text-align: center;
}

.show-modal-info>li {
    margin: 0;
    padding: 0;
    width: 250px;
}

.show-modal-info>li+li {
    border-top: 1px solid rgb(175, 192, 115);
}

.show-modal-pic {
    width: 250px
}

.page-item {
    width: 50px;
    margin-left: 5px;
}

.page-link {
    color: #333231
}

.favText {
    background-color: rgba(23, 23, 23, 0.3);
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 15px 0;
    letter-spacing: 2px;
}

.favBtn {
    width: 30px;
    height: 30px;
    text-decoration: none;
    outline: none;
    background-color: white;
    border: #db865f 3px solid;
}

.removeFavBtn {
    border: rgb(140, 201, 50) 3px solid;
    text-align: center;
    outline: none;
}

.favSpan {
    margin-left: 10px;
    background-color: rgb(209, 166, 166);
}

.friendCardByList {
    padding: 10px 20px;
    margin: 10px 150px;
    display: flex;
    justify-content: space-between;
    background-color: rgba(199, 158, 158, 0.3);
}

.friendCardByList:hover {
    box-shadow: 0 0 10px #555;
}

.friendCardByList>div {
    display: flex;
    align-items: center;
}

.friendCardByList>div:last-child {
    margin-right: 50px;
}

.friendCardByList p {
    display: inline-block;
    line-height: 112px;
    font-size: 25px;
    margin-left: 40px;
    letter-spacing: 4px;
}

.friendCardByList img {
    width: 120px;
    height: 120px;
    border-radius: 10px;
}

.friendCardByList button {
    margin: 0 20px;
}